# FarmaTrade production domain
FRONTEND_DOMAIN=https://akashshinde.tech

# Public backend subdomains
REACT_APP_AUTH_URL=https://auth.akashshinde.tech
REACT_APP_LOT_URL=https://lot.akashshinde.tech
REACT_APP_BIDDING_URL=https://bidding.akashshinde.tech
REACT_APP_LOGISTICS_URL=https://logistics.akashshinde.tech
REACT_APP_BILLING_URL=https://billing.akashshinde.tech

# Backend internal service communication
AUTH_JWKS_URI=http://auth-service:8081/.well-known/jwks.json
OTP_SERVICE_BASE_URL=http://otp-service:8086
LOT_SERVICE_BASE_URL=http://lot-service:8082
LOGISTICS_SERVICE_BASE_URL=http://logistics-service:8084
BILLING_SERVICE_BASE_URL=http://billing-service:8085

# CORS
AUTH_CORS_ALLOWED_ORIGINS=https://akashshinde.tech
LOT_CORS_ALLOWED_ORIGINS=https://akashshinde.tech
LOGISTICS_CORS_ALLOWED_ORIGINS=https://akashshinde.tech
BILLING_CORS_ALLOWED_ORIGINS=https://akashshinde.tech
